trigger:
- main

pool:
  vmImage: 'windows-latest'

stages:
  - stage: Build
    displayName: Build_ChangingName
    jobs:
      - job: Validate_Test_Failing
        steps:
          - publish: $(Build.SourcesDirectory)\eng\BuildConfiguration
            artifact: BuildConfiguration
            displayName: Publish Build Config
          - task: DotNetCoreCLI@2
            inputs:
              command: 'build'
              projects: '**\BuildResultAnalysisTest.csproj'
          - task: VSTest@2
            inputs:
              testSelector: 'testAssemblies'
              testAssemblyVer2: |
                **\BuildResultAnalysisTest.dll
                !**\obj\**
              searchFolder: '$(System.DefaultWorkingDirectory)'
  - stage: Build
    displayName: Build_ChangingName02
    jobs:
      - job: Validate_Test_Failing
        steps:
          - task: DotNetCoreCLI@2
            inputs:
              command: 'build'
              projects: '**\SecondaryTests.csproj'
          - task: VSTest@2
            inputs:
              testSelector: 'testAssemblies'
              testAssemblyVer2: |
                **\SecondaryTests.dll
                !**\obj\**
              searchFolder: '$(System.DefaultWorkingDirectory)'
